{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">

    <h2>{% trans "Sign In" %}</h2>
    <br/>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <!--p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div-->

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    </div>
  </div>

  <style>

  input[type='checkbox'] {
    width: auto;
  }


  </style>


  <div class="row">
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
    <form class="login" method="POST" action="{% url 'account_login' %}" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group row {{ field.html_name }} {% if field.errors %}error{% endif %}">
          <div class="col-sm-1"></div>
          <label class="control-label col-sm-2" style="text-align: right; top:5px;">{{ field.label }}{% if field.field.required %}{% endif %}</label>
          <div class="col-sm-6" style="max-width: 400px;">
              {{ field|add_class:"form-control" }}
              {% if field.errors %}
                  <span class="help-inline">{{ field.errors.as_text }}</span>
              {% endif %}
          </div>
        </div>
      {% endfor %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button class="primaryAction btn btn-success btn-sm" type="submit">{% trans "Sign In" %}</button> &nbsp;
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
            <small>{% trans "Forgot Password?" %}</small>
          </a> 
        </div> 
      </div>
    </form>

  </div>
</div>

{% endblock %}
