{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <br/>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

    </div>
</div>
    {% else %}

    </div>
</div>
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group row {% if field.errors %}error{% endif %}">
                        <div class="col-sm-1"></div>
                        <label class="control-label col-sm-2">{{ field.label }}{% if field.field.required %}{% endif %}</label>
                        <div class="col-sm-6">
                            {{ field|add_class:"form-control" }}
                            {% if field.errors %}
                                <span class="help-inline">{{ field.errors.as_text }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <input type="submit" class="btn btn-sm btn-info" name="action" value="{% trans 'change password' %}"/>
                </div>
            </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

  </div>
</div>
{% endblock %}
