{% extends "account/base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <div class="row">
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
    <form class="login" method="POST" action="{% url 'account_signup' %}" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
        {% if field.name == 'confirmation_key' %}
        {% else %}
          <div class="form-group row {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <div class="col-sm-1"></div>
            <label class="control-label col-sm-2" style="text-align: right; top:5px;">{{ field.label }}{% if field.field.required %}{% endif %}</label>
            <div class="col-sm-6" style="max-width: 400px;">
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors.as_text }}</span>
                {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <button class="primaryAction btn btn-success btn-sm" type="submit">{% trans "Sign In" %}</button> &nbsp;
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
            <small>{% trans "Forgot Password?" %}</small>
          </a> 
        </div> 
      </div>
    </form>

  </div>
</div>

{% endblock %}
